<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Departments</h4>
        <ul>
          <li><a href="#">X-Ray</a></li>
          <li><a href="#">Children Care</a></li>
          <li><a href="#">Eye Treatment</a></li>
          <li><a href="#">Nose Treatment</a></li>
          <li><a href="#">Surgery</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">X-Ray</a></li>
          <li><a href="#">Children Care</a></li>
          <li><a href="#">Eye Treatment</a></li>
          <li><a href="#">Nose Treatment</a></li>
          <li><a href="#">Surgery</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Navigation</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Customer Care</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Social</h4>
        <div class="links">
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>

        <!--email form start-->

        <div class="email">
          <h4>Subscribe Newsletter</h4>
          <form class="row g-2">
            
            <div class="col-auto">
              <label for="staticEmail2" class="visually-hidden">Email</label>
              <input type="text" class="form-control-plaintext" id="staticEmail2" placeholder="Enter Email">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-white mb-3">SEND</button>
            </div>
          </form>
        </div>
        

        <!--email form end-->

      </div>
    </div>
  </div>
  <div style="margin-top: 100px;" class="container">
    <hr style="color: white;">
  </div>

  <div class="container">
    <p style="text-align: center;" class="text-white py-3">Copyright ©2024 All rights reserved | This template is made
      with <i class="fa fa-heart" style="color: red;"></i> <a href="#"
        style="color: white; text-decoration: underline;">by
        Colorlib</a> </p>
  </div>
</footer>