<!--about us start-->

<div class="container">
    <div class="d-flex justify-content-lg-arround justify-content-xxs-center">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    rasim qo'yamiz!
                </p>
            </div>
            <div class="col-lg-6">
                <h6 class="text-body-secondary"> About us </h6>
                <h1 class="text-info">We Are Happy To <br> Serve You!</h1>
                <p class="text-body-secondary" style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur
                    adipisicing
                    elit. Quis molestiae ducimus voluptas nisi doloremque
                    assumenda tempora ullam, voluptatem ipsa necessitatibus iusto expedita illo, fugiat corporis optio
                    amet
                    voluptatum aperiam eius inventore ab voluptates! Voluptas id facilis porro cumque animi amet quidem
                    adipisci
                    laudantium architecto doloribus repudiandae vero veritatis sint inventore, quas impedit ut,
                    reprehenderit
                    officia explicabo culpa molestias voluptate?</p>
                <div class="buttons">
                    <button type="button" style="padding: 10px 20px 10px 20px; font-size: 13px; font-weight: 300;"
                        class="btn btn-primary rounded-pill"> CONTACT US </button>
                    <button type="button"
                        style="padding: 10px 20px 10px 20px; font-size: 13px; font-weight: 300; background-color: #17B169;"
                        class="btn rounded-pill text-white mx-3"> RREAD MORE </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--about us end-->


<!--our mission start-->

<div class="our-mission">
    <div class="container">
        <div class="d-flex justify-content-lg-arround justify-content-xxs-center">
            <div class="row">
                <div style="margin: 100px 0 100px 0;" class="col-lg-6">
                    <h6 class="text-body-secondary"> OUR MISSION </h6>
                    <h1 class="text-black">We Provide <span class="text-info"> High Solutions </span> for Your Health
                    </h1>
                    <p class="text-body-secondary" style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur
                        adipisicing
                        elit. Quis molestiae ducimus voluptas nisi doloremque
                        assumenda tempora ullam, voluptatem ipsa necessitatibus iusto expedita illo, fugiat corporis
                        optio
                        amet
                        voluptatum aperiam eius inventore ab voluptates! Voluptas id facilis porro cumque animi amet
                        quidem
                        adipisci
                        laudantium architecto doloribus repudiandae vero veritatis sint inventore, quas impedit ut,
                        reprehenderit
                        officia explicabo culpa molestias voluptate?</p>
                </div>
                <div style="margin: 100px 0 100px 0;" class="col-lg-6">
                    <p>video</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--our mission end-->