<div class="patient">
    <div style="padding: 10px;" class="container">
      <div style="padding-bottom: 60px;" class="our-dedicate">
        <h6 class="text-body-secondary text-center"> OUR TEAM </h6>
        <h1 class="text-info text-center"> Happy <span class="text-black"> Patients </span> </h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <div style="text-align: center;" class="person1">
                <img style="border-radius: 50%;  border: 5px solid #dee2e6; position: relative; bottom: 60px;"
                  src="../assets/patient_1.jpg.webp" width="100px" height="100px" alt="">
              </div>
              <p style="position: relative; bottom: 30px;" class="card-text text-center">
                <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex distinctio, libero ab obcaecati
                  perferendis, possimus porro, sunt repudiandae aut deserunt adipisci alias. Quis ratione et fugiat. Vel,
                  dolore tempore!</i>
              </p>
              <p style="font-size:small; position: relative; bottom: 30px;" class="text-center">
                <i>Elizabeth Anderson, Hostpital Patients</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <div style="text-align: center;" class="person1">
                <img style="border-radius: 50%;  border: 5px solid #dee2e6;  position: relative; bottom: 60px;"
                  src="../assets/person_2.jpg.webp" width="100px" height="100px" alt="">
              </div>
              <p style="position: relative; bottom: 30px;" class="card-text text-center">
                <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex distinctio, libero ab obcaecati
                  perferendis, possimus porro, sunt repudiandae aut deserunt adipisci alias. Quis ratione et fugiat. Vel,
                  dolore tempore!</i>
              </p>
              <p style="font-size:small; position: relative; bottom: 30px;" class="text-center">
                <i>Elizabeth Anderson, Hostpital Patients</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <div style="text-align: center;" class="person1">
                <img style="border-radius: 50%;  border: 5px solid #dee2e6;  position: relative; bottom: 60px;"
                  src="" width="100px" height="100px" alt="">
              </div>
              <p style="position: relative; bottom: 30px;" class="card-text text-center">
                <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex distinctio, libero ab obcaecati
                  perferendis, possimus porro, sunt repudiandae aut deserunt adipisci alias. Quis ratione et fugiat. Vel,
                  dolore tempore!</i>
              </p>
  
              <p style="font-size:small; position: relative; bottom: 30px;" class="text-center">
                <i>Elizabeth Anderson, Hostpital Patients</i>
              </p>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
