<div class="container py-5">

    <div class="our-dedicate my-5">
        <h6 class="text-body-secondary text-center"> OUR TEAM </h6>
        <h1 class="text-info text-center"> Our Dedicated <span class="text-black"> Doctors </span> </h1>
    </div>
    <div class="row row_branchen">
        <div class="col-lg-4 col-md-4  col-xs-12">
            <div class="card">
                <a href="https://angebote24.de/verkaufsautomaten/">
                    <div class="image__wrapper">
                        <div class="card__shadow--1"></div>
                        <img class="card-img-top" src=" " width="100%"
                            alt="Angebote - Verkaufsautomaten">
                    </div>
                    <div class="card-body pb-4" style="background-color: #2c7bfe; color: white;">
                        <a href="#">
                            <h5 class="card-text"> <b class="text-white"> Dr. Jade Guzman </b> </h5>
                            <p class="text-info">Cardiologist</p>
                        </a>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4   col-xs-12">
            <div class="card">
                <a href="https://angebote24.de/wasserspender/">
                    <div class="image__wrapper">
                        <div class="card__shadow--1"></div>
                        <img class="card-img-top" src="" alt="Angebote Wasserspender">
                    </div>
                    <div class="card-body pb-4" style="background-color: #2c7bfe; color: white;">
                        <a href="#">
                            <h5 class="card-text"> <b class="text-white">Dr. Hanna Ford</b> </h5>
                            <p class="text-info">Dermotologist</p>
                        </a>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4   col-xs-12">
            <div class="card">
                <a href="https://angebote24.de/warenautomaten/">
                    <div class="image__wrapper">
                        <div class="card__shadow--1"></div>
                        <img class="card-img-top" src="../assets/doc3.webp" alt="Angebote Wasserspender">
                    </div>
                    <div class="card-body pb-4" style="background-color: #2c7bfe; color: white;">
                        <a href="#">
                            <h5 class="card-text"> <b class="text-white">Dr. James Wilson</b> </h5>
                            <p class="text-info">Surgeon</p>
                        </a>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
